<h1>Editar Departamento</h1><br/>

<%= render 'form', departamento: @departamento, texto_da_acao: "Atualizar"%>

<%= link_to 'Ver Produtos', @departamento, class:"btn btn-success"%> 
<%= link_to 'Voltar', departamentos_path, class:"btn btn-default" %>
