<table class="table table-bordered table-hover">
            <thead>
                <tr>
                   <th>Nome</th>
                    <th>Descrição</th>
                    <th>Departamento</th>
                    <th>Preco</th>
                    <th>Quantidade</th>
                    <th colspan="2">
                </tr>
            </thead>
            <tbody>
           <%= render @produtos %>

            </tbody>
        </table>